<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.knowlgdemo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NDKActivity" />
        <activity android:name=".ui.BannerActivity" />
        <activity android:name=".ui.BitmapActivity" />
        <activity android:name=".ui.RipplesActivity" />
        <activity android:name=".ui.QxActivity" />
        <activity android:name=".KoilitionActivity" />
        <activity android:name=".ui.ThreadPoolActivity" />
        <activity android:name=".ui.IndexActivity" />
        <activity
            android:name=".ui.CollapsingToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.RectActivity" />
        <activity android:name=".ui.TouchPullActivity" />
        <activity android:name=".ui.ChaJianActivity" />
        <activity android:name=".ui.AnmaitorActivity"></activity>
        <activity android:name=".ui.QxActivity" />
        <activity android:name=".ui.EoxperictionActivity" />
        <activity android:name=".ui.TuXiangActivity"></activity>
    </application>

</manifest>